apiVersion: apps/v1
kind: Deployment
metadata:
  name: runner-shipment-service-deployment
  namespace: NAMESPACE_NAME
  labels:
    app: runner-shipment-service
    product_name: PRODUCT_NAME
    repo_name: REPO_NAME
    service_name: SERVICE_NAME
    service_type: SERVICE_TYPE
    language: LANGUAGE
    infra_type: INFRA_TYPE
    branching: BRANCHING
    cicd_type: CICD_TYPE
    env_name: ENV_NAME
spec:
  replicas: REPLICA_COUNT
  selector:
    matchLabels:
      app: runner-shipment-service
  template:
    metadata:
      labels:
        app: runner-shipment-service
    spec:
      affinity:
        nodeAffinity:
          $TYPE:
          - preference:
              matchExpressions:
              - key: $KEY
                operator: In
                values:
                - $POOL
            weight: 100
      tolerations:
      - key: $TOLERATION_KEY
        operator: Equal
        value: $TOLERATION_POOL
      containers:
      - name: runner-shipment-service
        image: ContainerRegistryURL/ACR_NAME:LATEST_IMAGE
        imagePullPolicy: Always
        command: [/bin/sh, -c]
        args: [. /mnt/secrets-store/shipment-service-ENV_NAME-SECRET && java HEAP_MIN HEAP_MAX -XX:+UnlockExperimentalVMOptions -XX:+UseG1GC -XX:G1HeapRegionSize=2m -XX:G1NewSizePercent=5 -XX:G1MaxNewSizePercent=60 -XX:MaxGCPauseMillis=200 -XX:InitiatingHeapOccupancyPercent=45 -XX:ConcGCThreads=2 -XX:ParallelGCThreads=3 -XX:G1ReservePercent=10 -XX:MaxTenuringThreshold=15 -XX:G1MixedGCCountTarget=4 "-Xlog:gc*" -javaagent:/usr/local/newrelic/newrelic.jar -jar /usr/local/lib/runner-shipment-services-0.0.1.jar]
        resources:
          requests:
            cpu: MIN_CPU
            memory: MIN_MEM
          limits:
            cpu: MAX_CPU
            memory: MAX_MEM
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: runner-shipment-service-cm
        readinessProbe:
          httpGet:
            path: /shipment-service/actuator/health
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 10
        volumeMounts:
        - name: secrets-store01-inline
          mountPath: /mnt/secrets-store
          readOnly: true
      volumes:
      - name: secrets-store01-inline
        csi:
          driver: secrets-store.csi.k8s.io
          readOnly: true
          volumeAttributes:
            secretProviderClass: azure-kvname-system-msi
