<configuration>
    <property name="LOGS_PATH" value="logs" />
    <property resource = "application.properties" />
    <property resource = "application-${props_profile:-dev}.properties" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} ${spring.application.name}: %X{request_id} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <maxFlushTime>1000</maxFlushTime>
        <includeCallerData>false</includeCallerData>
    </appender>

    <root level="debug">
<!--        <appender-ref ref="SYSLOG-TCP" />-->
        <appender-ref ref="ASYNC_CONSOLE" />
    </root>
</configuration>