<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SYSLOG-TCP" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${papertrail_app} ${papertrail_app}-${hostName} ${spring.application.name}: [%thread] %X{request_id} %-5level %logger{35}: %m%n%xEx</pattern>
        </layout>
        <syslogConfig class="org.productivity.java.syslog4j.impl.net.udp.UDPNetSyslogConfig">
            <host>${papertrail_host}</host>
            <port>${papertrail_port}</port>
            <maxMessageLength>128000</maxMessageLength>
            <sendLocalName>false</sendLocalName>
        </syslogConfig>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>